.footer {
    background-color: var(--blue);
    padding: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.footer_up {
    display: flex;
    align-items: center;
    gap:60px;
    justify-content: space-between;
    
}

.footer_text {
    max-width: 270px;
    font-weight: 400;
font-size: 14px;
text-align: center;
color: rgba(111, 108, 153, 0.79);
line-height: 129%;
text-align: center;
}

.footer_link {
    color:#AFABE3;
}

.footer_down {
    margin-top: 50px;
gap:20px;
    display: flex;
    height: 90px;
    align-items: center;
    margin-bottom: auto;
    justify-content: center;
}

.footer_server {
    display: flex;
    font-weight: 400;
font-size: 10px;
text-align: center;
color: rgba(111, 108, 153, 0.79);
line-height: 129%;
align-items: center;
gap:5px;
}

.footer_mini {
    cursor: pointer;
}

.footer_logo {
    opacity: 0.4;
    width: 70px;
}

.footer_click {
    max-width: 270px;
    font-weight: 400;
font-size: 14px;
text-align: center;
color:#AFABE3;
line-height: 129%;cursor: pointer;
}
 
@media (max-width: 1361px) {
.footer {
    display: block;

}

.footer_links {
    display: inline;

}

}

@media (max-width: 1203px) {
    .footer_text {
        max-width: 200px;
    }
}

@media (max-width: 1361px) {
    .footer_up {
        flex-wrap: wrap;
    justify-content: center;
    } 

    .footer_down {
        flex-wrap: wrap;
    }
}

@media (max-width: 830px) {

    .footer_server { 
    margin-left: 0;
    }

 .footer_text {
        font-size: 12px;
        max-width: 230px;
    }

}


@media (max-width: 800px) {

    .footer_up {
        gap: 30px;
    }
   
}

@media (max-width: 576px) {
.footer_server {
    max-width:300px;
}

   .footer_up {
        gap: 20px;
    }
   
}

@media (max-width: 465px) {
.footer_text {
        font-size: 10px;
    }
}