.swiper {
    width: 1385px;
    height: 455px;
    margin-top: 30px;
}

.swiper-slide {
    background-color: var(--blue);
    border-radius: 15px;
    display: grid;
    grid-row: 2;
}

.slide_inner {
    display: flex;
}

.swiper_title {
    color: var(--white);
    position: absolute;
    font-size: 32px;
    font-weight: 400;
    max-width: 672px;
    padding: 30px;

}

.swiper_card {
    display: flex;
    align-items: center;
flex-direction: column;
padding: 20px;
margin-bottom: 0;
margin:15px;
gap:28px
}

.swiper_subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
letter-spacing: 0.13em;
text-align: center;
color: var(--white);
max-width:360px;
}

.swiper_text {
    font-weight: 300;
font-size: 13px;
line-height: 120%;
letter-spacing: 0.11em;
color: var(--white);
max-width:540px;
text-align: justify;
align-items: center;
}

.swiper .swiper-pagination-bullet {
    width:15px;
    height: 95px;
    background-color: var(--white);
    border-radius: 30px;
    align-items: center;
    transition: 0.4s;
    
}

@media (max-width:1460px){
    
.swiper {
    width: 1185px;
    height: 355px;
    margin-top: 30px;
}

.swiper_img {
    height: 355px;
}

.swiper .swiper-pagination-bullet {
    width: 12px;
    height: 70px;
}

.swiper_subtitle {
font-size: 18px;
line-height: 100%;
letter-spacing: 0.13em;
max-width:360px;
}

.swiper_title {
    font-size: 25px;
    max-width: 600px;
}

.swiper_text {
font-size: 11px;
line-height: 140%;
max-width:520px;
}

}

@media (max-width:1240px){
    
.swiper {
    width: 885px;
    height: 255px;
    margin-top: 30px;
}

.swiper_img {
    height: 255px;
}

.swiper .swiper-pagination-bullet {
    width: 10px;
    height: 50px;
}

.swiper_subtitle {
font-size: 14px;
line-height: 100%;
letter-spacing: 0.13em;
max-width:360px;
}

.swiper_title {
    font-size: 21px;
    max-width: 300px;
}
.swiper_card {
    padding: 10px;
}

.swiper_text {
font-size: 8px;
line-height: 120%;
max-width:520px;
}

}

@media (max-width:930px){
    
.swiper {
    width: 755px;
    height: 225px;
    margin-top: 30px;
}

.swiper_img {
    height: 225px;
}

.swiper .swiper-pagination-bullet {
    width: 8px;
    height: 45px;
}

.swiper_subtitle {
font-size: 14px;
max-width:380px;
}

.swiper_title {
    font-size: 21px;
    max-width: 310px;
}
.swiper_card {
    padding: 5px;
    gap:10px
}

.swiper_text {
font-size: 8px;
max-width:520px;
}

}

@media (max-width:800px){
    
.swiper {
    width: 418px;
    height: 425px;
    margin-top: 30px;
}

.swiper_img {
    height: 190px;
    
}

.swiper .swiper-pagination-bullet {
    width: 80px;
    height: 10px;
}

.swiper_subtitle {
font-size: 14px;
max-width:380px;
}

.swiper_title {
    font-size: 21px;
    max-width: 300px;
}
.swiper_card {
    padding: 5px;
    gap:15px
}

.swiper_text {
font-size: 8px;
max-width:520px;
}

.slide_inner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-bottom: 10px;
}

}